<div class="layout wrapper ">
  <header class="header">
    <app-logout></app-logout>
  </header>
  <div class="main">
    <nav class="sidebar" >
      <ul class="list-unstyled components  ml-5">
        <li class="mt-2">
          <a routerLink="/">Home</a>
        </li>
        <li class="mt-2">
          <a routerLink="/students">Students</a>
        </li>
        <li class="mt-2">
          <a routerLink="/faculties" >Faculties</a>
        </li>
      </ul>
    </nav>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
